<header id="header">
  <div class="container">

    <h1><a href="">Abrew Abraham Alex</a></h1>

    <h2>I'm a passionate <span>Software Engineer</span> and <span>Graphic Designer</span> from Kochi</h2>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link active" href="#" (click)="scrollToSection('#header',$event)">Home</a></li>
        <li><a class="nav-link" href="#" (click)="scrollToSection('#about',$event)">About</a></li>
        <li><a class="nav-link" href="#" (click)="scrollToSection('#resume',$event)">Resume</a></li>
        <li><a class="nav-link" href="#" (click)="scrollToSection('#services',$event)">Services</a></li>
        <li><a class="nav-link" href="#" (click)="scrollToSection('#contact',$event)">Contact</a></li>
      </ul>
      <em style="margin-top:10px" class="fa-solid fa-ellipsis mobile-nav-toggle" (click)="navBarTogle('navbar')"></em>
    </nav>

    <div class="social-links">
      <a href="https://twitter.com/abrew_abraham" class="twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://www.instagram.com/abrew_abraham_alex" class="instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/abrew-abraham-alex-755a80129/" class="linkedin" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.github.com/itzmeabrew" class="linkedin" target="_blank"><i class="fa-brands fa-github" target="_blank"></i></a>
    </div>

  </div>
</header>

<section id="about" class="about" #about>

  <div class="about-me container">

    <div class="section-title">
      <h2>About</h2>
      <p>Learn more about me</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="../../../assets/images/me2.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Software Engineer &amp; Graphic Designer</h3>
        <p class="fst-italic">
          To secure a position where I can efficiently contribute my skills and abilities to the growth of the organization and build my professional career.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="fa-solid fa-angle-right"></i> <strong>Age:</strong> <span>{{calculateAge()}}</span></li>
              <li><i class="fa-solid fa-angle-right"></i> <strong>Email:</strong> <span>mail@abrewabraham.dev</span></li>
              <li><i class="fa-solid fa-angle-right"></i> <strong>Phone:</strong> <span>+91 9048177199</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              
              <li><i class="fa-solid fa-angle-right"></i> <strong>Degree:</strong> <span>Bachelors,Computer Science & Engineering</span></li>
              <li><i class="fa-solid fa-angle-right"></i> <strong>Website:</strong> <span>abrewabraham.dev</span></li>
              <li><i class="fa-solid fa-angle-right"></i> <strong>City:</strong> <span>Ernakulam, Kochi</span></li>
            </ul>
          </div>
        </div>
        <!-- <p>
          Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius
          omnis.
          Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui
          repellendus omnis culpa magni laudantium dolores.
        </p> -->
      </div>
    </div>

  </div>

  <!-- <div class="counts container">

    <div class="row centerx">

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="fa-solid fa-face-grin"></i>
          <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
          <p>10+ Happy Clients</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="fa-solid fa-laptop-file"></i>
          <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
          <p>12+ Projects</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="fa-solid fa-award"></i>
          <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
          <p>3+ Awards</p>
        </div>
      </div>

    </div>

  </div> -->

  <div class="skills container">

    <div class="section-title">
      <h2>Skills</h2>
    </div>

    <div class="row skills-content">

      <div class="col-lg-6">

        <div class="progress">
          <span class="skill">HTML5 <i class="val">95%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">CSS3 / Bootstrap <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Angular <i class="val">85%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div>

      <div class="col-lg-6">

        <div class="progress">
          <span class="skill">Java / Spring <i class="val">60%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Python <i class="val">80%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Adobe Creative Suite <i class="val">70%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="interests container">

    <div class="section-title">
      <h2>Interests</h2>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="icon-box">
          <i class="fa-solid fa-code" style="color: #ffbb2c;"></i>
          <h3>Coding</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="fa-solid fa-crop-simple" style="color: #5578ff;"></i>
          <h3>Graphic Design</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="fa-solid fa-plane-departure" style="color: #e80368;"></i>
          <h3>Traveling</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="fa-solid fa-camera" style="color: #e361ff;"></i>
          <h3>Photography</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="fa-solid fa-screwdriver-wrench" style="color: #47aeff;"></i>
          <h3>DIY Projects</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="fa-solid fa-moon" style="color: #ffa76e;"></i>
          <h3>Astrophotography</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="fa-solid fa-bolt" style="color: #11dbcf;"></i>
          <h3>Electronics</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="fa-solid fa-gamepad" style="color: #4233ff;"></i>
          <h3>Gaming</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="fa-solid fa-jet-fighter" style="color: #b2904f;"></i>
          <h3>Drone building and racing</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="fa-brands fa-artstation" style="color: #b20969;"></i>
          <h3>Digital Artist</h3>
        </div>
      </div>
    </div>

  </div>

  <!-- <div class="testimonials container">

    <div class="section-title">
      <h2>Testimonials</h2>
    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam,
              risus at semper.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="./../../../assets/images/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet
              legam anim culpa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="./../../assets/images/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint
              minim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="./../../assets/images/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem
              dolore labore illum veniam.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="./../../assets/images/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse
              veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="./../../assets/images/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
          </div>
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="owl-carousel testimonials-carousel">

    </div>

  </div> -->

</section>

<section id="resume" class="resume" #resume>
  <div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p>
        Check My Resume
        <span style="font-size: 22px;" class="float-end">
          <a style="font-family: sans-serif" target="_blank" class="btn btn-outline-success btnResponsive" href="https://drive.google.com/file/d/1mnj4elRgw71VbhUx7praMmZeGXt1slLk/view?usp=sharing">
            <i class="fa-solid fa-cloud-arrow-down"></i>&nbsp;Full Résumé PDF
          </a>
        </span>
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Profile Summary</h3>
        <div class="resume-item pb-0">
          <h4>About Me</h4>
          <p class="text-justify">
            <em>Highly analytical and customer-focused professional with experience in development of software solutions. Detail oriented, and highly effective at managing short and long-term projects for current, new, and emerging technologies, with a focus on solving problems that benefit stakeholders. 
              Ability to collaborate with team for designing solutions, upgrading and troubleshooting. Expertise in application design, development, deployment, implementation, testing, and maintenance of Enterprise and Web applications. Proven ability for ensuring quality assurance, developing strategies to support system applications, database management and providing a positive user experience.
              Strong work ethic and commitment to compliance with professional codes, regulations and company’s policies.</em>
          </p>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>B.Tech / BE in Computer Science &amp; Engineering</h4>
          <h5>2016 - 2020</h5>
          <p><em>Saintgits College of Engineering</em></p>
          <p>Completed under graduate degree (4 year) from Saintgits College of Engineering under KTU</p>
        </div>
        <div class="resume-item">
          <h4>HIGH SCHOOL & HIGHER SECONDARY</h4>
          <h5>2013 - 2016</h5>
          <p><em>St.Thomas HSS</em></p>
          <p>Completed High School & Higher Secondary with agregate 80% under DHSE,State</p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Full Stack Software Engineer</h4>
          <h5>2020 - Present</h5>
          <p><em>Innovature Software Labs, Kakkanad, Kochi</em></p>
          <div>
            <ul>
              <li>Developed web services for new modules and optimized the existing web services.</li>
              <li>Delivered 5+ project during the 2-year period to different clients.</li>
              <li>Created customized and individualized solutions based on specific needs of customers.</li>
              <li>Debugged and provided quick, efficient solutions for highly critical bugs in major releases of the product.</li>
              <li>Acted as liaison between business, design, & back-end teams to produce clean code that followed design & functional specifications.</li>
            </ul>
          </div>
        </div>
        <div class="resume-item">
          <h4>Internship, Full Stack Android App Development</h4>
          <h5>2019 - 2019</h5>
          <p><em>IGNOSI Enterprises, L.L.P, Technopark</em></p>
          <ul>
            <li>Troubleshooted issues affecting production, stage, and development environments as requested.</li>
            <li>Discussed, analyzed and strategized product design with Product Managers, UX team and Business Managers.</li>
            <li>Assisted the project lead in tracking current project developments and estimating the expected project completion.</li>
            <li>Developed Web Service Application Programming Interface (Web APIs) for exposing functionalities to client applications.</li>
            <li>Introduced better collaboration tools and designed / developed android applications to automate business processes workflow.</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="services" class="services" #services>
  <div class="container">

    <div class="section-title">
      <h2>Services</h2>
      <p>My Services</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="fa-brands fa-internet-explorer"></i></div>
          <h4><a href="">Web Development and Design</a></h4>
          <p>Design and develop fully responsive dynamic web applications.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="fa-solid fa-marker"></i></div>
          <h4><a href="">Graphics Design</a></h4>
          <p>Design stunning posters logos and other graphic elements using Adobe Creative Cloud.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="fa-solid fa-mobile"></i></div>
          <h4><a href="">Mobile Application Development</a></h4>
          <p>Develop cross-platform applications or native applications for Android and iOS.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fa-brands fa-figma"></i></div>
          <h4><a href="">UI/UX Design</a></h4>
          <p>Design UI/UX for applications for protyping and maximize user experience and usability.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fa-solid fa-video"></i></div>
          <h4><a href="">Video Editing and Compositing</a></h4>
          <p>Edit and composit video using Adobe Premier Pro and After Effects.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fa-brands fa-unity"></i></div>
          <h4><a href="">Blender 3D Modeling</a></h4>
          <p>Design and Render 3D Models and CGIs using Blender</p>
        </div>
      </div>

    </div>

  </div>
</section>

<section id="contact" class="contact" #contact>
  <div class="container">

    <div class="section-title">
      <h2>Contact</h2>
      <p>Contact Me</p>
    </div>

    <div class="row mt-2">

      <div class="col-md-6 d-flex align-items-stretch">
        <div class="info-box">
          <i class="fa-solid fa-map"></i>
          <h3>My Address</h3>
          <p>Payyampallil House,<br>Thirumoolapuram PO,Thiruvalla<br>Pin:- 689115</p>
        </div>
      </div>

      <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
        <div class="info-box">
          <i class="fa-solid fa-share-from-square"></i>
          <h3>Social Profiles</h3>
          <div class="social-links">
            <a href="https://twitter.com/abrew_abraham" class="twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/abrew_abraham_alex" class="instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/abrew-abraham-alex-755a80129/" class="linkedin" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.github.com/itzmeabrew" class="linkedin" target="_blank"><i class="fa-brands fa-github" target="_blank"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-4 d-flex align-items-stretch">
        <div class="info-box">
          <i class="fa-solid fa-envelope"></i>
          <h3>Email Me</h3>
          <p>mail@abrewabraham.dev</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 d-flex align-items-stretch">
        <div class="info-box">
          <i class="fa-solid fa-phone-flip"></i>
          <h3>Call Me</h3>
          <p>+91 9048177199</p>
        </div>
      </div>
    </div>

    <form [formGroup]="contact_form" (ngSubmit)="contactMe()" class="php-email-form mt-4">
      <div class="row">
        <div class="col-md-6 form-group">
          <input type="text" name="name" formControlName="name" class="form-control" id="name" placeholder="Your Name" required>
        </div>
        <div class="col-md-6 form-group mt-3 mt-md-0">
          <input type="email" class="form-control" name="email" formControlName="email" id="email" placeholder="Your Email" required>
        </div>
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" name="subject" formControlName="subject" id="subject" placeholder="Subject" required>
      </div>
      <div class="form-group mt-3">
        <textarea class="form-control" name="message" rows="5" formControlName="body" placeholder="Message" required></textarea>
      </div>
      <br>
      <div class="text-center">
        <button [disabled]="btnStatus" class="btn btn-secondary" type="submit">Send Message&nbsp;&nbsp;<i class="material-icons" style="vertical-align: -6px;">send</i></button>
      </div>
    </form>

  </div>
</section>

<app-footer></app-footer>