.centerx
{
    display: flex;
    justify-content: center;
}

.btnResponsive
{

}

@media (max-width: 991px) 
{
    .btnResponsive
    {
        display: inline-block;
    }
}

@media (max-width: 378px) 
{
    .btnResponsive
    {
        display: none;
    }
}


.text-justify
{
    text-align: justify;
    text-justify: inter-word;
}

.profile
{
    border-radius: 18px;
}

.buttonSend:active .buttonIcon
{
    animation: logoAnim 0.2s forwards;
}


@keyframes logoAnim 
{
  from 
  {
    transform: translateX(0px);
  }
  to
  {
    transform: translateX(10px);
    opacity: 0;
  }
}