<div class="row">

  <div class="col col-md-6 col-lg-6 order-md-1 order-lg-1">
    <div class="e">

      <div class="card cstm-card cstm-card cstm-card">
        <div class="card-body">

          <div class="main-profile">
            <img src="https://assets.website-files.com/642c1cd7bcb742b83f7049e8/64318d35e2d0573080e9d9d1_avatar.png" loading="lazy" alt="Avatar - Minifolio Webflow Template" class="cover-image">
          </div>

          <h3 class="title">Hi, I'm Jake</h3>

          <div class="bottom-content">
            <div class="sub-title">
              A digital designer from london
            </div>

            <div class="sub-icon">
              <i class="fa-regular fa-circle-right fa-xl"></i>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="col col-md-6 col-lg-3 order-md-2 order-lg-3">
    <div class="f">

      <div class="card cstm-card cstm-card cstm-card">
        <div class="card-body">
          <h5 class="card-title">Card titlee</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some queick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Cared link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
  </div>

  <div class="col col-md-6 col-lg-3 order-md-2 order-lg-3">
    <div class="f">

      <div class="card cstm-card cstm-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="row">

  <div class="col col-md-3 col-lg-3 order-md-2 order-lg-3">

    <div class="a">

      <div class="card cstm-card cstm-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>

  </div>

  <div class="col col-md-3 col-lg-3 order-md-3 order-lg-2">
    <div class="b">

      <div class="card cstm-card cstm-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
  </div>

  <div class="col col-md-3 col-lg-3 order-md-1 order-lg-1">
    <div class="c">

      <div class="card cstm-card cstm-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
  </div>

  <div class="col col-md-6 col-lg-3 order-md-4 order-lg-4">
    <div class="d">

      <div class="card cstm-card cstm-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="row">

  <div class="col col-md-6 col-lg-6 order-md-1 order-lg-1">
    <div class="g">

      <div class="card cstm-card cstm-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
  </div>

  <div class="col col-md-6 col-lg-6 order-md-2 order-lg-2">
    <div class="h">

      <div class="card cstm-card cstm-card cstm-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
  </div>

</div>
